.attribution { 
    font-size: 11px;
    text-align: center; 
    margin:0 auto;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
    
}

body {
    margin: 0;
    background-color: hsl(212, 45%, 89%);
    height: 1000px;
}
.qrcode-popup {
    margin:0 auto;
    color: hsl(0, 0%, 100%);
    width: 300px;
    height: 490px;
    margin-top: 200px;
    padding: 15px;
    background: white;
    border-radius: 5%;
}
.qr-code {
    width: 299px;
    border-radius: 5%;    
}
.headline {
    color: hsl(218, 44%, 22%);
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
    font-size: 23px;
    text-align: center;
    
}
.text {
    color: hsl(220, 15%, 55%);
    font-family: 'Outfit', sans-serif;
    text-align: center;
    font-size: 15px ;
    color: grey;
    padding-left: 20px;
    padding-right: 20px;

    
}